/*
    css för elvis ab
*/
body {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    font-family: Arial, sans-serif;
    display: block;
}

#page-wrap {
    width: 960px;
    height: auto;
    margin: 0 auto;
    background-color: silver;
}

.col-1-3 {
    width: 33%;
    height: auto;
    display: inline-block;

}

nav {
    width: 100%;
    height: 50px;
    display: inline-block;
    float: right;
    background-color: white;
}

nav ul {
    float: right;
}

nav ul a {
    text-decoration: none;
    font-size: 26px;
}

    #about {
    width: 100;
    background-color:orange;
}
